---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.social-media-container {
  width: 100%;
}

.social-media-links-container {
  margin: auto;
}

.mastodon-icon {
  background-image: url(/assets/images/mastodon.ico);
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  display: inline-block;
}
