@import 'variables.less';
@import 'playfair_display.less';

body {
  color: #3b3b3b;
  background-color: #f3f3f3;
  margin: 0;
  font-size: 16px;
  font-family: 'PlayFair Display', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

h1 {
  color: @color-dark;
  font-weight: bold;
  font-size: 3em;

}

h2 {
  color: @color-medium-light;
  font-weight: 300;
}

main {
  max-width: 1024px;
  margin: auto;
}

#main-header {
  margin-top: 0;
  height: 400px;
  background-color: #234350;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  color: #f3f3f3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-header h1 {
  color: #f2f2f2;
  margin-top: 30px;
  font-size: 5em;
  font-weight: normal;
}

#main-header h2 {
  color: #f2f2f2;
  margin-left: 10%;
  font-size: 2.5em;
  margin-top: 30px;
  font-weight: normal;
}
