@import 'variables.less';
@import 'playfair_display.less';
@import 'basics.less';

* {
  box-sizing: border-box;
}

#header-bar {
  width: 100%;
  background-color: @color-primary-0;
  color: @color-light;
  vertical-align: middle;
}

#header-content {
  max-width: 800px;
  padding: 0.5em 1.5em 0.5em 1.5em;
  margin: auto;
}

.header-link {
  margin-right: 1.5em;
  position: relative;
  top: .25em;
}
.right {
  float: right;
}
.right .header-link{
  margin-right: 0;
  margin-left: 1.5em;
}

.header-link.emph {
  font-size: 1.25em;
  top: 0em;

  font-weight: 500;
}

#header-bar a{
  color: @color-light;
}

#main-header {
  margin-top: 0;
  height: 300px;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  color: @color-dark;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#main-header h1 {
  margin-top: 70px;
  font-size: 5em;
  font-weight: normal;
}

#main-header h2 {
  font-size: 2.5em;
  margin-top: 100px;
  font-weight: normal;
  color: @color-medium-dark;
}

footer {
  height: 200px;
}

main {
  max-width: 800px;
  margin: auto;
  box-sizing: border-box;
  padding: 1.5em;
  padding-top: 3em;
}

.post-list {
  margin-top: 3em;
}


.post-preview {
  margin-top: 2em;
}

.post-excerpt {
  margin-top: 1em;
  color: @color-slightly-dark;
}

.post-link {
  margin-top: 10px;
  font-size: 1.1em;
}

