<%- partial('_partials/header', 
{
  image: config.main_image,
  title: page.title || config.title,
  subtitle: page.subtitle || ""
}) %>
<main>
  <%- page.content %>
</main>
<%- partial('_partials/footer')%>
